<!-- layout.hbs -->
<h1 class="title-page text-center">Teacher's Space</h1>
<div class="square-content-profile">
  <div class="content-profile">
    <br>
    <h5>Courses created</h5>
    {{!-- <p>You don't create any course yet :(</p> --}}
  </div>
</div>
<br>
<h5>Create your course</h5>
<div class="squaare-content-profile">
  <div class ="content-profile">
    <section class="form">
      <form action="/profile/{{id}}/createcourse" method="POST">
        <div class="form-row">
          <div class="form-group col-md-6">
            <input type="text" class="form-control" id="course-name" name="name" placeholder="Course's name" required>
          </div>
          <div class="form-group col-md-6">
            <input type="text" class="form-control" id="course-image" name="image" placeholder="Url image">
            <small>Paste the url of the image here</small>
          </div>
          {{!-- <div class="form-group col-md-6">
            <input type="file" class="form-control" id="course-image" name="image" placeholder="Image">     
          </div> --}}
          <div class="form-group col-md-6">
            <input type="text" class="form-control" id="course-category" name="category" placeholder="Course's category" required>
            <small>Separated by commas</small>
          </div>
          <div class="form-group col-md-6">
            <input type="text" class="form-control" id="course-resume" name="resume" placeholder="Course's resume" required>
          </div>
          <div class="form-group col-md-6">
            <input type="text" class="form-control" id="course-resume" name="temary" placeholder="Course's temary" required>
          </div>
          <div class="form-group col-md-6">
            <input type="text" class="form-control" id="course-video" name="videoInput" placeholder="Url video">
            <small>Paste the url of youtube video here</small>
          </div>
        <input type="submit" class="button-css row align-items-center" value="Create course"></input>
      </form>
    </section>
  </div>
</div>