<!-- layout.hbs -->
<p>{{name}}</p>
<img src="{{image}}" alt="" srcset="">
<p>{{description}}</p>

  <form action="/courses/{{id}}/add" method="POST">
    <button type="submit" class="button-css row align-items-center">Add</button>
  </form>