<!-- layout.hbs -->
{{#each coursesArray}}
<div class="square-content-courses">
  <div class="title-course text-center">{{name}}</div>
  <br>
  <div class="text-center">
    <img src="{{image}}" alt="" srcset="">
  </div>
  <br> <p class="course-resume">{{resume}}</p>
  <div class="row align-items-center">
    <a class="see-more-btn" href="courses/{{id}}">See more</a>
  </div>
</div>
{{/each}}
</div>