<!-- layout.hbs -->
<div class="square-content align-middle"></div>
<h1 class="title-page text-center">Courses</h1>
{{#each coursesArray}}
<div class="square-content-courses">
  <div class="title-course text-center">{{name}}</div>
  <br>
 <div class="text-center"><img src="{{image}}" alt="" srcset=""></div>
  <br> {{description}}
  <br> {{category}}
</div>
{{/each}}
</div>
