<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<form action="/auth/signup" method="GET">
  <input type="submit" value="Sign up page">
</form>

<form action="/auth/login" method="GET">
  <input type="submit" value="Login page">
</form>