<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>{{title}}</title>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light navbar-style fixed-top">
      <span class="navbar-title">{{header}}</span>
      <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon icon-navbar"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav row justify-content-end">
          <li class="nav-link">
            <a class="nav-item" href="/">Home</a>
          </li>
          <li class="nav-link">
            <a class="nav-item" href="/courses">Courses</a>
          </li>
          <li class="nav-link">
            <a class="nav-item" href="/profile">Profile</a>
          </li>
          <li class="nav-link">
            <a class="nav-item" href="/auth/signup">Sign Up</a>
          </li>
          <li>
            <form action="/auth/logout" method="POST">
              <input class="nav-item-logout" type="submit" value="Log Out">
            </form>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <section>
    <div class="content" style="margin-top:80px">
  {{#each infoMessages}}
    <div class="alert alert-warning">{{this}}</div>
  {{/each}}
      {{{body}}}
    </div>
  </section>
  <footer class="copyright fixed-bottom clear-top" style="margin-top:80px">
    <ul class="footer-list footer-menu">
      <li>CourStory &#174 2018</li>
    </ul>
  </footer>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
  crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/ajax.js"></script>
<script src="/js/jQuery.js"></script>
</html>