@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');

body {
  font: 14px 'Montserrat', sans-serif;
  background-image: url("/images/background.jpg");
}

@media (max-width: 736px) {
  .form {
    margin: auto;
    max-width: 300px;
  }
  .content {
    padding-left: 20px;
    padding-right: 20px;
  }

  .title-page {
    margin: auto;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 25px;
  }
  
  .title-courses-page {
    margin: auto;
    padding-bottom: 10px;
    font-size: 25px;
  }

  .title-course {
    align-content: center;
    color: #a41e34;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 22px;
    font-weight: 500;
  }

  .course-description {
    padding-left: 20px;
    padding-right: 20px;
  }

  .form {
    margin: auto;
    padding-top: 20px;
    padding-bottom: 10px;
    max-width: 300px;
  }
  
  .square-content {
    margin-top: 60px;
    background-color: white;
    border-radius: 5px;
  }

  .square-content-signup {
    margin-top: 35px;
    background-color: white;
    border-radius: 5px;
  }

  .square-content-courses {
    margin-top: 35px;
    padding-bottom: 35px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 3px 4px grey;
  }

  .square-content-profile {
    margin-top: 35px;
    background-color: white;
    border-radius: 5px;
  }

  .course-resume {
    margin-left: 20px;
    margin-right: 20px;
  }

  .user-information {
    font-weight: 600;
  }
  
  .content-profile {
    padding: 50px 50px;
  }

  .icon-navbar {
    color: white;
  }

  .input-btn {  
    color: #a41e34;
  }

  .square-course {
    margin-top: 60px;
    background-color: white;
    border-radius: 5px;
  }
}

@media (min-width: 737px) and (max-width: 992px) {
  .form {
    margin: auto;
    max-width: 300px;
    height: 600px;
  }
  .content {
    padding-left: 20px;
    padding-right: 20px;
  }

  .header-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 1px;
    color: white;
  }

  .title-page {
    margin: auto;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 28px;
  }
  
  .title-courses-page {
    margin: auto;
    padding-bottom: 10px;
    font-size: 25px;
  }

  .title-course {
    align-content: center;
    color: #a41e34;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 22px;
    font-weight: 500;
  }

  .course-description {
    padding-left: 20px;
    padding-right: 20px;
  }

  .form {
    margin: auto;
    padding-top: 20px;
    padding-bottom: 10px;
    max-width: 300px;
  }
  
  .square-content {
    margin-top: 60px;
    background-color: white;
    border-radius: 5px;
  }

  .square-content-signup {
    margin-top: 35px;
    background-color: white;
    border-radius: 5px;
  }

  .square-content-courses {
    margin-top: 35px;
    padding-bottom: 35px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 3px 4px grey;
  }
  
  .icon-navbar {
    color: white;
  }

  .input-btn {  
    color: #a41e34;
  }

  .square-course {
    margin-top: 60px;
    background-color: white;
    border-radius: 5px;
  }
}



a {
  color: #00B7FF;
  font-weight: 800;
}

h1 {
  color: #a41e34;
}

.button-css{
  margin: auto;
  background-color: #a41e34;
  border-radius: 4px;
  color: white;
  padding: 10px 20px;
  margin-top: 0px;
  font-weight: 500;
}

.button-css-info{
  margin: auto;
  background-color: #a41e34;
  border-radius: 4px;
  color: white;
  padding: 5px 10px;
  margin-top: 0px;
  font-size: 14px;
}

.see-more-btn {
  margin: auto;
  background-color: #a41e34;
  border-radius: 4px;
  color: white;
  padding: 10px 20px;
  margin-top: 0px;
  font-weight: 500;
}

li {
  display: inline;
}

.nav-item {
  color: white;
}

.navbar-style {
  background-color: #a41e34; 
}

.navbar-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1px;
  color: white;
}

.copyright {
  background-color: #a41e34;
  color: white;
  padding-top: 5px;
  margin-top: 500px;
}

/* SEARCH FORM */
.search-container {
  margin-top: 35px;
}

.search-form {
  display: flex;
  flex-wrap: wrap;
}

.search-form input {
  border-right: 0px;
  width: 130px;
  transition: width 0.4s ease-in-out;
}

.search-form input:focus {
  width: 90%;
  outline: 0;
}

.search-form input button {
  margin: 0;
}

.search-form button {
  width: 10%;
}

.search-form button i{
  color: black
}

.search-form button:hover{
  background: #a41e34;
}

.search-form button:focus,
 input:focus {
  border-color: none !important;
  box-shadow: none !important;
}