@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700");

body {
  font: 14px "Montserrat", sans-serif;
  background-color: #F7F7F7;
  /* background-color: #F2F4F7; */
  /* background-color: #F7F4EA; */
  /* background-image: url("/images/background.jpg"); */
  background-attachment: fixed;
}

a {
  color: #00b7ff;
  /* font-weight: 800; */
}

h1 {
  color: #0087BE;;
  /* color: #2239b9; */
  font-size: 22px;
  text-transform: uppercase;
}

.button-css {
  margin: auto;
  background-color: #0087BE;
  border-radius: 20px;
  color: white;
  padding: 7px 40px;
  margin-top: 10px;
  font-weight: 500;
}

.button-css-info {
  margin: auto;
  background-color: #0087BE;
  border-radius: 20px;
  color: white;
  padding: 5px 10px;
  margin-top: 0px;
  font-size: 14px;
}

.button-sort {

}

.see-more-btn {
  margin: auto;
  background-color: #0087BE;
  border-radius: 20px;
  color: white;
  padding: 7px 40px;
  margin-top: 0px;
  font-weight: 500;
}

li {
  display: inline;
}

.nav-item {
  font-size: 16px;
  margin-left: 30px;
  color: white;
}

.nav-item:active {
  font-size: 25px;
}

.navbar-style {
  background-color: #282a35;
}

.navbar-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.5px;
  color: white;
  margin-left: 10px;
  text-transform: uppercase;
}

.copyright {
  background-color: #282a35;
  color: white;
  padding-top: 10px;
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
}


@media (max-width: 736px) {
  a {
    color: white;
    font-weight: 600;
  }

  .form {
    margin: auto;
    max-width: 300px;
  }

  .check-pass {
    display: inline-block;
  }

  .show-pass {
    font-size: 12px;
    vertical-align: top
  }

  .content {
    padding-left: 20px;
    padding-right: 20px;
  }

  .body-courses {
    padding-bottom: 80px;
  }

  .title-page {
    margin: auto;
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .title-courses-page {
    margin: auto;
    padding-bottom: 10px;
    font-size: 25px;
  }

  .title-course {
    align-content: center;
    /* color: #282a35; */
    color: #E54B4B;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 22px;
    font-weight: 500;
    text-transform: none;
  }

  .title-profile {
    align-content: center;
    /* color: #282a35; */
    color: #E54B4B;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 22px;
    font-weight: 500;
  }

  .title-field {
    font-size: 12px;
    margin-bottom: 5px;
  }

  .course-description {
    padding-left: 20px;
    padding-right: 20px;
  }

  .form {
    margin: auto;
    padding-top: 20px;
    padding-bottom: 10px;
    max-width: 300px;
  }

  .square-content {
    margin-top: 60px;
    background-color: white;
    border-radius: 20px;
  }

  .square-content-signup {
    margin-top: 35px;
    background-color: white;
    border-radius: 20px;
  }

  .square-content-courses {
    margin-top: 35px;
    padding-bottom: 35px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 3px 3px #DED9E2;
  }

  .square-content-profile {
    margin-top: 35px;
    padding-bottom: 35px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 3px 1px #DED9E2;
  }

  .course-resume {
    margin-left: 20px;
    margin-right: 20px;
  }

  .filter-box {
    background-color: white;
    border-radius: 10px;
  }

  .filter-form {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
  }

  .input-filter {
    padding: 8px 8px;
    border-style: none;
    padding-bottom: 5px;
    /* border-bottom: 1px solid #0087BE; */
    border-bottom: 1px solid #E54B4B;
    width: 90%;
    font-size: 16px;
  }

  .sort-row {
    padding-top: 5px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-around;
  }

  .icon-sort {
    color: #0087BE;
  }

  .info-profile { 
    margin-left: 20px;
    margin-right: 20px;
  }

  .edit-profile {
    font-size: 12px;
  }

  .fields-profile {
    border: none;
    padding-bottom: 5px;
    border-bottom: 1px solid #E54B4B;
    /* border-bottom: 1px solid #0087BE; */
    width: 100%;
    font-size: 16px;
  }

  .fields-profile:focus {
    -webkit-appearance: none;
  }

  .field-detail {
    padding-top: 20px;
  }

  .edit-form {
    margin-left: 20px;
    margin-right: 20px;
  }

  .course-video {
    display: flex;
    justify-content: space-around;
  }

  .user-information {
    font-weight: 600;
  }

  .content-profile {
    padding: 50px 50px;
  }

  .icon-navbar {
    color: white;
  }

  .edit-profile-block {
    float: right;
  }

  .edit-input {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid red;
  }

  .input-btn {
    color: #0087BE;
    font-weight: 500;
  }

  .square-course {
    margin-top: 60px;
    background-color: white;
    border-radius: 5px;
  }
  
  .footer-menu {
    padding-right: 40px;
  }
}

@media (min-width: 737px) and (max-width: 992px) {
  .form {
    margin: auto;
    max-width: 300px;
    height: 600px;
  }
  .content {
    padding-left: 20px;
    padding-right: 20px;
  }

  .header-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 1px;
    color: white;
  }

  .title-page {
    margin: auto;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 28px;
  }

  .title-courses-page {
    margin: auto;
    padding-bottom: 10px;
    font-size: 25px;
  }

  .title-course {
    align-content: center;
    color: #f59b99;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 22px;
    font-weight: 500;
  }

  .course-description {
    padding-left: 20px;
    padding-right: 20px;
  }

  .form {
    margin: auto;
    padding-top: 20px;
    padding-bottom: 10px;
    max-width: 300px;
  }

  .square-content {
    margin-top: 60px;
    background-color: white;
    border-radius: 5px;
  }

  .square-content-signup {
    margin-top: 35px;
    background-color: white;
    border-radius: 5px;
  }

  .square-content-courses {
    margin-top: 35px;
    padding-bottom: 35px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 3px 4px grey;
  }

  .square-content-profile {
    margin-top: 35px;
    padding-bottom: 35px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 3px 4px grey;
  }

  .icon-navbar {
    color: white;
  }

  .input-btn {
    color: #0087BE;
  }

  .square-course {
    margin-top: 60px;
    background-color: white;
    border-radius: 5px;
  }
}

.text-transition:focus::placeholder {
transform: translateX(80px);
opacity: 0;
transition: all .5s ease;
}
/* 
.alert-warning {
  transform: translateX(80px);
  opacity: 0;
  transition: 3s all .5s ease;
} */